.root {
    -fx-background-color: #ccffff;
}
.button {
    -fx-background-color: #cccc99;
    -fx-text-fill: white;
}
.label {
    -fx-text-fill: black;

}
.list-view{
    -fx-background-color: white;
    -fx-text-fill: black;

}
.menu, .menu-bar, .menu-item {
    -fx-background-color: white;

}